<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.bd_pedidoswebConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=root;persistsecurityinfo=True;database=bd_pedidosweb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>